params {
    input_seqs = "/my_path/aligned_sequences.fas"         // path to aligned input sequence file
}
profiles {    
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    docker {
        docker.enabled          = true
        singularity.enabled     = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        docker.enabled          = false
        singularity.enabled     = false
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        docker.enabled          = false
        apptainer.enabled       = false
    }
}

